html,
body {
  margin: 0;
  padding: 0;
}

header {
  $header-height: 25em;

  background:
    linear-gradient(
      rgba(255, 102, 255, 0.45),
      rgba(255, 102, 255, 0.45)
    ),
    url('/img/main.gif');
  background-size: cover;
  padding-top: $section-spacing;
  padding-bottom: $section-spacing / 2;

  h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 4em;
    font-weight: 350;

    @include media($breakpoint-tablet) {
      font-size: 6em;
    }

    @include media($breakpoint-desktop) {
      font-size: 8em;
    }

    small {
      font-weight: 150;
    }
  }
}

.tagline {
  margin: {
    right: auto;
    left: auto;
    top: 2em;
    bottom: 2em;
  }
  padding: 1em;
  font-size: 1.25em;
  background: rgba(255, 255, 255, .3);
  text-align: center;
  border-radius: 1.75em;
  width: 80%;

  @include media($breakpoint-tablet) {
    font-size: 1.5em;
  }
}

.section-wrapper {
  background-color: $light-grey;
  padding: {
    top: 2em;
    bottom: 2em;
  }
}

section {
  @include outer-container;

  padding: {
    top: $section-spacing;
    bottom: $section-spacing;
  }
  text-align: center;

  &.info {
    padding: 0;
    margin: {
      top: $section-spacing;
      bottom: $section-spacing;
    }
    font-size: 1.6em;
    max-width: 42.5em;
  }

  .box {
    @include span-columns(4);
    text-align: center;
    font-size: 1.2em;

    img {
      text-align: center;
      width: 100%;
    }
  }

  &.cost {
    p {
      font-size: 1.2em;
      padding-top: $section-spacing;
    }
  }
}

img.portrait {
  border: 6px solid white;
  box-shadow: 0 0 4px 0 black;
}

a.button {
  @include button;
}

footer {
  background-color: $light-grey;
  padding: {
    top: $section-spacing;
    bottom: $section-spacing;
  }
  border-bottom: 1em solid darken($light-grey, 10);

  .inner {
    @include outer-container;
    text-align: center;
  }
}
